@import 'fonts';
@import 'theme-colors';
$theme-font: 'Cervo-Light',
Serif;
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
.logo_text {
    font-family: $theme-font;
    background-color: $themeColor-Light;
    letter-spacing: -1.4px;
    word-spacing: 0px;
    font-weight: 100;
    text-transform: uppercase;
    color: $headerColor;
}


/*
*
*   HEADER STYLES
*/

.site_header {
    display: grid;
    grid-template-columns: 1fr max-content;
}

.site_logo,
.logo {
    display: inline-block;
}


/*
*
*   NAV STYLES
*/

nav {
    justify-self: end;
}

.mobile_menu {
    display: block;
}

.desktop_menu {
    text-align: center;
    display: flex;
    @media screen and (min-width: 500px) {
        display: block;
    }
}

.mobile_menu {
    display: block;
    text-align: center;
    @media screen and (min-width: 500px) {
        display: none;
    }
}

.desktop_menu {
    display: none;
}