@import 'fonts';
@import 'theme-colors';
$theme-font: 'Cervo-Light',
Serif;
* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
.logo_text {
    font-family: $theme-font;
    background-color: $themeColor-Light;
    letter-spacing: -1.4px;
    word-spacing: 0px;
    font-weight: 100;
    text-transform: uppercase;
    color: $headerColor;
}


/*
*
*   HEADER STYLES
*/

.site_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.site_logo,
.logo {
    display: inline-block;
}


/*
*
*   NAV STYLES
*/

.nav_container {
    justify-self: end;
}

.menu_icon {
    width: 2em;
    cursor: pointer;
}

.mobile_menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin-top: 1em;
    ul {
        list-style: none;
        text-align: left;
        padding: 0;
        li {
            margin-top: 1em;
        }
    }
    @media screen and (min-width: 500px) {
        display: none;
    }
}

.desktop_menu {
    text-align: center;
    display: none;
    @media screen and (min-width: 500px) {
        display: flex;
        margin-top: 2em;
        list-style: none;
    }
}