* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
}

header,
section,
footer {
    padding: 1em;
}

header,
.hero {
    background-color: $color-black;
}

.container {
    max-width: 980px;
}