.blog_wrapper {
    max-width: 950px;
    margin: 0 auto;
    .blog_title {
        h3 {
            margin-top: 0;
            font-size: 2rem;
            text-align: left;
            @media screen and (min-width: 505px) {
                text-align: center;
            }
        }
    }
    p {
        text-align: left;
    }
    .btn {
        width: 250px;
    }
}