.site_logo,
.logo {
    display: inline-block;
}

.logo_text {
    font-family: 'Cervo';
    font-size: 64px;
    fill: $themeColor-Light;
    transition: fill .5s;
}

.circle {
    fill: none;
    stroke: $headerColor;
    transition: stroke .5s;
}


/*
* Logo Animation
*/

.logo:hover {
    .logo_text {
        fill: $headerColor;
    }
    .circle {
        stroke: $themeColor-Light;
    }
}