/*
*
*   NAV STYLES
*/

.menu_icon {
    width: 2em;
    cursor: pointer;
}

nav a {
    color: $themeColor-Light;
}

.mobile_navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    margin-top: 1em;
    ul {
        text-align: center;
        padding: 0;
        li {
            margin-top: 1em;
            padding: .5em;
        }
    }
    @media screen and (min-width: 500px) {
        display: none;
    } //Removing border styles on Mobile
    .border {
        display: none;
    }
}

.desktop_menu {
    text-align: center;
    display: none;
    @media screen and (min-width: 500px) {
        display: flex;
        margin-top: 2em;
    }
    li {
        // margin-right: 1em;
        a {
            font-size: 1.3em;
            position: relative;
            padding: .5em;
            border: 1px solid rgba(224, 218, 218, 0.08);
            border-right: none;
        }
        &:last-child a {
            border-right: 1px solid rgba(224, 218, 218, 0.08);
        }
    }
}